<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="movies-list"></ion-back-button>
    </ion-buttons>
    <ion-title>Movie Details</ion-title>
  </ion-toolbar>
</ion-header>


<ng-container *ngIf="service.movie$ | async as movie">
  <ion-content [fullscreen]="true" *ngIf="movie?.id">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{movie.title}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <div class="movie-detail-container">
      <ion-text> {{movie.tagline}} </ion-text>
      <div>
        <img class="movie-image m-top-20px" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" />
      </div>
      <div class="align-center flex-center m-top-20px">
        <div class=""> Rating: {{movie.vote_average}} / 10     
          <ion-icon size="small" class="search-icon" name="star"></ion-icon>
        </div>
        <div class="m-l-20px">Total votes: {{movie.vote_count}}</div>
      </div>
      <h3 class="text-bold">Overview</h3>
        <p>{{movie.overview}}</p>
        <h3 class="text-bold"> Genres </h3>
        <div class="genre-chips d-m-block m-flex-wrap">
            <div class="genre m-text-center m-mtop-20px" *ngFor="let genre of movie.genres">
                {{genre.name}}
            </div>
        </div>
        <h3 class="text-bold">Languages</h3>
        <div class="flex-start">
          <div class="lang m-text-center " *ngFor="let lan of movie.spoken_languages">
            {{ lan.english_name}}
          </div>
        </div>
        <div class="">
          <h3 class="">Release Date</h3>
          <p>{{movie.release_date | date:'MMMM d, y'}}</p>
        </div>
    </div>
  </ion-content>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button (click)="addToFavs(movie.id, movie.title)" color="danger">
      <ion-icon ios="heart{{ favService.isMovieInFavorites(movie.id?.toString()) ? '-outline' : ''}}"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ng-container>



