<ion-card (click)="onClickCard()">
  <img class="card-image" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" />
  <ion-card-header>
    <ion-card-subtitle>Release date: {{movie.release_date | date: 'dd/MM/yyyy'}} </ion-card-subtitle>
    <ion-card-title>{{movie.title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{movie.overview}}
  </ion-card-content>
  <ion-card-content>
    {{movie.vote_average}} / 10   
    <ion-icon size="small" class="search-icon" name="star-outline"></ion-icon>
  </ion-card-content>
</ion-card>